
#listaProductos{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 5%;
    justify-content: space-evenly;
  }
  
  .card{
    background-color:white;
    text-align: center;
    max-width: 20%;
    padding: 5%;
    margin:1%;
    border: 2px solid #006100;
    border-radius: 10px;
  }
  
  .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  
  
  
  
  .bt-Añadir {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    width: 50%;
  }

  
  h1{
    margin: auto;
    width: 100%;
    color:white;
    font-size: 70px;
    padding:24px 32px 32px 32px;
    font-weight: bold;
    box-shadow:2px 2px 6px #888;  
    text-align:center;
    line-height:150px;
    background-image:url("../../public/fondo2.jpg");
  }
