  #btTramitarPedido {
    background-color: #fffb00;
    border: 1px solid #fffb00;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 25px;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    width: 50%;
    font-weight: bold;
    margin-left: 25%;
  }

  h1{
    margin: auto;
    width: 100%;
    color:white;
    font-size: 70px;
    padding:24px 32px 32px 32px;
    font-weight: bold;
    box-shadow:2px 2px 6px #888;  
    text-align:center;
    line-height:150px;
    background-image:url("../../../public/fondo2.jpg");
  }

  h3{
      margin: auto;
      width: 100%;
      color:rgb(0, 0, 0);
      font-size: 30px;
      padding:24px 32px 32px 32px;
      font-weight: bold;

      text-align:end;
      line-height:150px;
  }

  #listaCarrito {
    border-radius: 20px;
    color: black;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 75%;
    margin-left: 13%;
    margin-top: 1%;
  }
  
 th, td {
    width: 25%;
    font-weight: bold;
 }

  #btVaciar {
      background-color: #fffb00;
      border: 1px solid #fffb00;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 13px;
      padding: 10px 25px;
      text-align: center;
      width: 8%;
      font-weight: bold;
      margin-left: 80%;
      margin-top: 1%;
  }
