  
  .App {
    text-align: center;
  }
  
  img {
    width: 50%;
    height: auto;
  }
  
  .App-header {
  /*  background-color: #282c34; */
    background-color: #f0f5d8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  
  .botonRespuesta {
    font-size: 35px !important;
    font-weight: bold;
    width: 200px;
    height: 125px;
    color:white;
    background-color: #164c56 !important;
    border: none;
    margin: 20px 40px !important;
    border-radius: 10% !important;
  }
